---
title: Sobre
slug: about
---
%h1.main-title Mestre Kame
.row 
  .columns.medium-3
    %img{src: 'assets/images/kame.jpg', alt: 'Mestre Kame'}
  .columns.medium-9
    .text-box
      %p 
        %strong Mestre Kame 
        é um antigo e sábio mestre de 
        %em artes marciais
        , e o primeiro personagem a usar o conhecido Kamehameha. Embora ele pareça frágil, Kame é na verdade um guerreiro poderoso. Ele treinou Vovô Gohan, Rei Cutelo, Goku, Kuririn e Yamcha. Mestre Kame é ambos os arquétipos velho sábio e velho pervertido, o último sendo típico de mangas "shonen". Às vezes, ele fica irritado, e produz alívio cômico. Seus companheiros são geralmente Oolong, Tartaruga, e Launch. Sua casa é a Casa do Kame, uma casa numa ilha isolada que serve como local de encontro para seus amigos. 